{% load static %}
{% load i18n %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% translate "Not Found" %}</title>
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="{% static "images/favicon.ico" %}" type="image/vnd.microsoft.icon">
    <style>
html {
    font-family: sans-serif;
    height: 100%;
}

body {
    text-align: center;
    margin-top: 50vh;
    transform: translateY(-50%);
}

a {
    text-decoration: none;
    font-size: 400%;
}
    </style>
</head>
<body>
    <a href="{% url 'index' %}">404</a>
    <br>
    {% translate "This page is not a puzzle." %}
</body>
</html>
