{% load i18n %}
{% load puzzle_tags %}
{% load humanize %}
{% load static %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    {% block page-title %}
    <title>{{ hunt_title }}</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <meta property="og:title" content="FIXME">
    <meta property="og:description" content="{% blocktranslate with hunt=hunt_title%}Registration for this year's {{ hunt }} is now open!{% endblocktranslate %}">
    <meta property="og:image" content="{{ domain|slice:'-1' }}FIXME">
    <meta property="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="{% static "css/skeleton.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>
    <script src="{% static "js/sorttable.js" %}"></script>
    <script src="{% static "js/tray.js" %}"></script>
    <script src="{% static "js/notify.js" %}"></script>
    <script src="{% static "js/time.js" %}"></script>
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="{% static "images/favicon.ico" %}" type="image/vnd.microsoft.icon">
    {{ ga_code|safe }}
</head>
<body>
    {% if is_superuser %}
    <input id="shortcuts" type="checkbox">
    {% endif %}
    <nav>
        <span class="tray">
            <div class="top-tabs">
                <a{% if request.path == '/' %} class="selected-tab"{% endif %} href="{% url 'index' %}">
                    {% translate "Home" %}
                </a>
                <a{% if request.path == '/rules' %} class="selected-tab"{% endif %} href="{% url 'rules' %}">
                    {% translate "Rules" %}
                </a>
                {% if story_page_visible %}
                <a{% if request.path == '/story' %} class="selected-tab"{% endif %} href="{% url 'story' %}">
                    {% translate "Story" %}
                </a>
                {% endif %}
                {% if hunt_has_started or hunt_has_almost_started %}
                <a{% if '/puzzle' in request.path or '/solve' in request.path or '/post-hunt-solve' in request.path or '/hints' in request.path or '/stats' in request.path or '/solution' in request.path %} class="selected-tab"{% endif %} href="{% url 'puzzles' %}">
                    {% translate "Puzzles" %}
                </a>
                {% endif %}
                <a{% if '/team' in request.path %} class="selected-tab"{% endif %} href="{% url 'teams' %}">
                    {% translate "Teams" %}
                </a>
                <a{% if request.path == '/faq' %} class="selected-tab"{% endif %} href="{% url 'faq' %}">
                    {% translate "FAQ" %}
                </a>
                {% if errata_page_visible %}
                <a{% if request.path == '/errata' %} class="selected-tab"{% endif %} href="{% url 'errata' %}">
                    {% translate "Updates" %}
                </a>
                {% endif %}
                {% if wrapup_page_visible %}
                <a{% if '/wrapup' in request.path %} class="selected-tab"{% endif %} href="{% url 'wrapup' %}">
                    {% translate "Wrap-Up" %}
                </a>
                {% endif %}
                <a{% if request.path == '/archive' %} class="selected-tab"{% endif %} href="{{ archive_link }}">
                    {% translate "Archive" %}
                </a>
            </div>
            <div class="top-left-actions">
                {% block top-left-actions %}{% endblock %}
            </div>
        </span>
        <div class="top-right-actions">
        {% if request.user.is_authenticated %}
            {% if team %}
            <a class="team-name" href="{% url 'team' team.team_name %}">{{ request.user }}</a>
            {% else %}
            {{ request.user }}
            {% endif %}
            {% if request.user.is_impersonate %}
            <span class="current-stat" title="{% blocktranslate %}Currently impersonating{% endblocktranslate %}">
                ({{ request.impersonator }}
                <a href="{% url 'impersonate-stop' %}">&#x1F6D1;</a>)
            </span>
            {% endif %}
            {% if team and num_hints_remaining > 0 %}
            <span class="current-stat" title="{% blocktranslate %}Available hints:{% endblocktranslate %} {{ num_hints_remaining }}">
                {% include 'icon-hint.svg' %}
                <span class="current-stat-label">{{ num_hints_remaining }}</span>
            </span>
            {% endif %}
            {% if team and num_free_answers_remaining > 0 %}
            <span class="current-stat" title="{% blocktranslate %}Free answers:{% endblocktranslate %}{{ num_free_answers_remaining }}">
                {% include 'icon-answer.svg' %}
                <span class="current-stat-label">{{ num_free_answers_remaining }}</span>
            </span>
            {% endif %}
            {% if is_superuser %}
            <label for="shortcuts" title="{% blocktranslate %}Admin toolbox{% endblocktranslate %}">{% if not hunt_is_prereleased %}&#x26A0;&#xFE0F;{% endif %}{% translate "Shortcuts" %}</label>
            {% if unclaimed_hints %}
            <a class="current-stat" title="{% blocktranslate %}Hints that need answering:{% endblocktranslate %} {{ num_free_answers_remaining }}" href="{% url 'hint-list' %}" style="color: red">
                {% include 'icon-hint.svg' %}
                <span class="current-stat-label">{{ unclaimed_hints }}</span>
            </a>
            {% endif %}
            {% endif %}
            <a href="{% url 'logout' %}" class="btn">{% translate "Logout" %}</a>
        {% elif not hunt_is_closed %}
            <a href="{% url 'login' %}" class="btn">{% translate "Login" %}</a>
            <a href="{% url 'register' %}" class="btn">{% translate "Register" %}</a>
        {% endif %}
        </div>
    </nav>
    {% if is_superuser %}
    <main class="shortcuts">
        <form method="post" action="{% url 'shortcuts' %}" target="dummy">
            {% csrf_token %}
            {% if not hunt_is_prereleased %}
            <p>
                Even though you&rsquo;re an admin, you&rsquo;re not currently
                marked as a testsolver, so you won&rsquo;t be able to view
                puzzles.
            </p>
            {% endif %}
            {% for shortcut in shortcuts %}
            {% if 'action' in shortcut %}
            <button class="btn" type="submit" name="action" value="{{ shortcut.action }}">{{ shortcut.name }}</button>
            {% else %}
            <div>{{ shortcut.name }}</div>
            {% endif %}
            {% endfor %}
            <div>{% translate "Download logs" %}</div>
            <a class="btn" href="{% url 'guess-csv' %}">{% translate "Guess" %}</button></a>
            <a class="btn" href="{% url 'hint-csv' %}">{% translate "Hint" %}</button></a>
            <a class="btn" href="{% url 'puzzle-log' %}">{% translate "Puzzle" %}</button></a>
            {% if puzzle %}
            <input name="puzzle" value="{{ puzzle.slug }}" type="hidden">
            {% endif %}
            <iframe src="about:blank" name="dummy" style="display: none"></iframe>
        </form>
    </main>
    {% endif %}
    <script>
    {% if team %}
        openSocket('/ws/team', showNotify);
    {% endif %}
    {% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        toastr.error("{{ message|escapejs }}");
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        toastr.warning("{{ message|escapejs }}");
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        toastr.success("{{ message|escapejs }}");
        {% else %}
        showNotify("{{ message|escapejs }}");
        {% endif %}
    {% endfor %}
    {% endif %}
    </script>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        {% translate "Powered by" %} <a href="https://github.com/galacticpuzzlehunt/gph-site">gph-site</a>
    </footer
</body>
</html>
