{% load puzzle_tags %}
{% load humanize %}
{% load static %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    {% block page-title %}
    <title>{{ hunt_title }}</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/skeleton.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>
    <script src="{% static "js/sorttable.js" %}"></script>
    <script src="{% static "js/tray.js" %}"></script>
    <script src="{% static "js/hints.js" %}"></script>
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="{% static "images/favicon.ico" %}" type="image/vnd.microsoft.icon">
    {% ga_code %}
</head>
<body>
    {% if is_superuser %}
    <input id="shortcuts" type="checkbox">
    {% endif %}
    <nav>
        <span class="tray">
            <div class="top-tabs">
                <a{% if request.path == '/' %} class="selected-tab"{% endif %} href="{% url 'index' %}">
                    Home
                </a>
                <a{% if request.path == '/rules' %} class="selected-tab"{% endif %} href="{% url 'rules' %}">
                    Rules
                </a>
                {% if is_story_page_visible %}
                <a{% if request.path == '/story' %} class="selected-tab"{% endif %} href="{% url 'story' %}">
                    Story
                </a>
                {% endif %}
                {% if hunt_has_started or hunt_has_almost_started %}
                <a{% if '/puzzle' in request.path or '/solve' in request.path or '/post-hunt-solve' in request.path or '/hints' in request.path or '/stats' in request.path or '/solution' in request.path %} class="selected-tab"{% endif %} href="{% url 'puzzles' %}">
                    Puzzles
                </a>
                {% endif %}
                <a{% if '/team' in request.path %} class="selected-tab"{% endif %} href="{% url 'teams' %}">
                    Teams
                </a>
                <a{% if request.path == '/faq' %} class="selected-tab"{% endif %} href="{% url 'faq' %}">
                    FAQ
                </a>
                {% if is_errata_page_visible %}
                <a{% if request.path == '/errata' %} class="selected-tab"{% endif %} href="{% url 'errata' %}">
                    Updates
                </a>
                {% endif %}
                {% if is_wrapup_page_visible %}
                <a{% if '/wrapup' in request.path %} class="selected-tab"{% endif %} href="{% url 'wrapup' %}">
                    Wrap-Up
                </a>
                {% endif %}
                <!--
                <a{% if request.path == '/archive' %} class="selected-tab"{% endif %} href="{% url 'archive' %}">
                    Archive
                </a>
                -->
            </div>
            <div class="top-left-actions">
                {% block top-left-actions %}{% endblock %}
            </div>
        </span>
        <div class="top-right-actions">
        {% if request.user.is_authenticated %}
            {% if team %}
            <a class="team-name" href="{% url 'team' team.team_name %}">{{ request.user }}</a>
            {% else %}
            {{ request.user }}
            {% endif %}
            {% if request.user.is_impersonate %}
            <span class="current-stat" title="Currently impersonating">
                ({{ request.impersonator }}
                <a href="{% url 'impersonate-stop' %}">&#x1F6D1;</a>)
            </span>
            {% endif %}
            {% if team and num_hints_remaining > 0 %}
            <span class="current-stat" title="Hint requests: {{ num_hints_remaining }}">
                {% include 'icon-hint.svg' %}
                <span class="current-stat-label">{{ num_hints_remaining }}</span>
            </span>
            {% endif %}
            {% if team and hunt_has_started %}
            <span class="current-stat" title="Points: {{ display_deep|intcomma }}">
                ✨
                <span class="current-stat-label">{{ display_deep|intcomma }}</span>
            </span>
            {% endif %}
            {% if team and num_free_answers_remaining > 0 %}
            <span class="current-stat" title="Free answers: {{ num_free_answers_remaining }}">
                {% include 'icon-answer.svg' %}
                <span class="current-stat-label">{{ num_free_answers_remaining }}</span>
            </span>
            {% endif %}
            {% if is_superuser %}
            <label for="shortcuts" title="Admin toolbox">Shortcuts</label>
            {% if unclaimed_hints %}
            <a class="current-stat" title="Hints that need answering: {{ unclaimed_hints }}" href="{% url 'hint-list' %}" style="color: red">
                {% include 'icon-hint.svg' %}
                <span class="current-stat-label">{{ unclaimed_hints }}</span>
            </a>
            {% endif %}
            {% endif %}
            <a href="{% url 'logout' %}" class="btn">Logout</a>
        {% elif not hunt_is_closed %}
            <a href="{% url 'login' %}" class="btn">Login</a>
            <a href="{% url 'register' %}" class="btn">Register</a>
        {% endif %}
        </div>
    </nav>
    {% if is_superuser %}
    <main class="shortcuts">
        <form method="post" action="{% url 'shortcuts' %}" target="dummy">
            {% csrf_token %}
            {% for shortcut in shortcuts %}
            {% if 'action' in shortcut %}
            <button class="btn" type="submit" name="action" value="{{ shortcut.action }}">{{ shortcut.name }}</button>
            {% else %}
            <div>{{ shortcut.name }}</div>
            {% endif %}
            {% endfor %}
            <div>Download logs</div>
            <a class="btn" href="{% url 'guess-csv' %}">Guess</button></a>
            <a class="btn" href="{% url 'hint-csv' %}">Hint</button></a>
            <a class="btn" href="{% url 'puzzle-log' %}">Puzzle</button></a>
            {% if puzzle %}
            <input name="puzzle" value="{{ puzzle.slug }}" type="hidden">
            {% endif %}
            <iframe src="about:blank" name="dummy" style="display: none"></iframe>
        </form>
    </main>
    {% endif %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        Powered by <a href="https://github.com/galacticpuzzlehunt/gph-site">gph-site</a>
    </footer>
    {% if messages %}
    <script>
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        toastr.error("{{ message|escapejs }}");
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        toastr.warning("{{ message|escapejs }}");
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        toastr.success("{{ message|escapejs }}");
        {% else %}
        toastr.info("{{ message|escapejs }}");
        {% endif %}
    {% endfor %}
    </script>
    {% endif %}
</body>
</html>
