{% extends "base.html" %}
{% load i18n %}
{% block content %}

<h2>{% blocktranslate with team_name=team.team_name %}Edit {{ team_name }} Members{% endblocktranslate %}</h2>

<form id="register" method="post">
    {% csrf_token %}

    {{ team_members_formset.management_form }}
    {{ team_members_formset.non_form_errors }}
    <div class="form-section">
    {% for team_member_form in team_members_formset %}
        <div class="team-members-formset form-row">
            {% for field in team_member_form %}
            {% if field.name == 'id' %}
            <div style="display: none">{{ field }}</div>
            {% else %}
            <div class="form-desc">
                {{ field.label_tag }}
            </div>
            {{ field }}
            {{ field.errors }}
            {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    </div>

    <div class="form-section">
        <button class="btn" type="submit">{% translate "Submit" %}</button>
    </div>
</form>

<script>
$('.team-members-formset').formset({
   prefix: '{{ team_members_formset.prefix }}',
   addText: '{% translate "Add another team member" %}',
   deleteText: '\u2716',
   addCssClass: 'formset-add-link',
});
$('.formset-add-link').click(function() {
  $('.errorlist').remove();
});
</script>

{% endblock %}
