{% extends "base.html" %}
{% block content %}

<h2>Edit {{ team.team_name }} Members</h2>

<form id="register" method="post">
    {% csrf_token %}

    {{ team_members_formset.management_form }}
    {{ team_members_formset.non_form_errors }}
    <div class="form-section">
    {% for team_member_form in team_members_formset %}
        <div class="team-members-formset row">
            {% for field in team_member_form %}
            {% if field.name == 'id' %}
            <div style="display: none">{{ field }}</div>
            {% else %}
            <div class="two columns">
                {{ field.label_tag }}
            </div>
            <div class="three columns">
                {{ field }}
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    </div>

    <button class="btn" type="submit">Submit</button>
</form>

<script>
$('.team-members-formset').formset({
   prefix: '{{ team_members_formset.prefix }}',
   addText: 'Add another team member',
   deleteText: 'Remove',
   addCssClass: 'formset-add-link',
});
$('.formset-add-link').click(function() {
  $('.errorlist').remove();
});
</script>

{% endblock %}
