{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block top-left-actions %}
<a href="{% url 'wrapup' %}" class="btn">{% translate "Back to wrap-up" %}</a>
{% endblock %}

{% block content %}

<style>
td {
    border: none;
}

.sorting [colspan] {
    display: none;
}
</style>

<h1>{% translate "Finishers" %}</h1>

<main>
<table class="sortable gph-list-table">
    <col style="width: 40%">
    <col style="width: 12%">
    <col style="width: 12%">
    <col style="width: 12%">
    <col style="width: 12%">
    <col style="width: 12%">
    <tr onclick="document.querySelector('tbody').className = 'sorting'">
        <th>{% translate "Team" %}</th>
        <th>{% translate "Unlock" %} ({{ start_time|date:"T" }})</th>
        <th>{% translate "Time to wrong" %}</th>
        <th>{% translate "Time to solve" %}</th>
        <th>{% translate "Total time" %}</th>
        <th>{% translate "Solve" %} ({{ start_time|date:"T" }})</th>
    </tr>
    {% for team in data %}
    <tr>
        <td><a href="{% url 'team' team.team.team_name %}">
            {{ team.team.team_name }}
        </a></td>
        <td sorttable_customkey="{{ team.unlock_time|unix_time }}">
            {% format_time team.unlock_time %}
        </td>
        {% for milestone in team.milestones %}
        <td sorttable_customkey="{% if milestone.1 %}{{ milestone.1 }}{% else %}999999{% endif %}">
            {% format_duration milestone.1 %}<br>{% format_time milestone.0 %}
        </td>
        {% endfor %}
        <td sorttable_customkey="{{ team.total_time }}">
            {% format_duration team.total_time %}
        </td>
        <td sorttable_customkey="{{ team.solve_time|unix_time }}">
            {% format_time team.solve_time %}
        </td>
    </tr>
    {% if is_superuser %}
    <tr>
        <td colspan="6">
            <tt>{{ team.team.get_emails|join:', ' }}</tt>
        </td>
    </tr>
    {% endif %}
    <tr>
        <td colspan="6">
            <svg class="chart" viewbox="0 0 {{ team.hunt_length }} {{ all_puzzles|length }}" preserveAspectRatio="none">
                <path d="M {{ team.hunt_length }} 0 L 0 0
                {% for solve in team.solves %}
                L {{ solve.before }} {{ forloop.counter }}
                L {{ solve.after }} {{ forloop.counter }}
                {% endfor %}
                " class="chart-area"></path>
                {% for meta in team.metas %}
                <path d="M {{ meta }} 0 L {{ meta }} {{ all_puzzles|length }}" class="chart-line"></path>
                {% endfor %}
            </svg>
        </td>
    </tr>
    {% endfor %}
</table>
</main>

{% endblock %}
