{% extends "base.html" %}
{% load i18n %}

{% block page-title %}
<title>{% translate "Free answer:" %} {{ puzzle.name }}</title>
{% endblock %}

{% block top-left-actions %}
<a href="{% url 'puzzle' puzzle.slug %}" class="btn">{% translate "Back to the puzzle" %}</a>
{% endblock %}

{% block content %}

<h1>{% translate "Use a free answer on" %} {{ puzzle.name }}</h1>

<main>
    {% if puzzle_answer != None %}
    <div class="solved-panel">
        <h4>{% translate "Solved!" %}</h4>
        <p>{% blocktranslate with answer=puzzle.answer %}The answer was <b>{{ answer }}</b>.{% endblocktranslate %}</p>
    </div>
    {% elif puzzle.is_meta %}
    <p>{% translate "You can't use a free answer on a metapuzzle." %}</p>
    {% elif num_free_answers_remaining <= 0 %}
    <p>{% translate "You have no free answers to use." %}</p>
    {% else %}
    <p>{% blocktranslate count answers=num_free_answers_remaining %}You have <b>{{ answers }} free answer</b>{% plural %}You have <b>{{ answers }} free answers</b>{% endblocktranslate %}
        {% include 'icon-answer.svg' %}
    {% translate ". Are you sure you want to use one on this puzzle?" %}</p>
    <form method="post" class="call-in-answer-panel">
        {% csrf_token %}
        <button class="btn" type="submit" name="use" value="Yes">{% translate "Yes" %}</button>
        <button class="btn" type="submit" name="use" value="No">{% translate "No" %}</button>
    </form>
    {% endif %}
</main>

{% endblock %}
