{% extends "base.html" %}
{% load i18n %}

{% block page-title %}
<title>{% blocktranslate with puzzle_name=puzzle.name %}Free answer: {{ puzzle_name }}{% endblocktranslate %}</title>
{% endblock %}

{% block top-left-actions %}
<a href="{% url 'puzzle' puzzle.slug %}" class="btn">{% translate "Back to the puzzle" %}</a>
{% endblock %}

{% block content %}

<h1>
    {% blocktranslate with puzzle_name=puzzle.name %}Free answer: {{ puzzle_name }}{% endblocktranslate %}
    {% if puzzle_answer %}
    <div class="solved-title-marker">{% translate "Solved!" %} <span class="solved-title-answer">{{ puzzle_answer }}</span></div>
    {% endif %}
</h1>

<main>
    {% if puzzle_answer != None %}
    <p>{% translate "You already solved this puzzle!" %}</p>
    {% elif puzzle.is_meta %}
    <p>{% translate "You can't use a free answer on a metapuzzle." %}</p>
    {% elif num_free_answers_remaining <= 0 %}
    <p>{% translate "You have no free answers to use." %}</p>
    {% else %}
    <p>{% blocktranslate count answers=num_free_answers_remaining %}You have <b>{{ answers }} free answer</b>{% plural %}You have <b>{{ answers }} free answers</b>{% endblocktranslate %}
        {% include 'icon-answer.svg' %}
    {% translate ". Are you sure you want to use one on this puzzle?" %}</p>
    <form method="post">
        {% csrf_token %}
        <button class="btn" type="submit" name="use" value="Yes">{% translate "Yes" %}</button>
        <button class="btn" type="submit" name="use" value="No">{% translate "No" %}</button>
    </form>
    {% endif %}
</main>

{% endblock %}
