{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block page-title %}
<title>{% translate "Hints:" %} {{ puzzle.name }}</title>
{% endblock %}

{% block top-left-actions %}
<a href="{% url 'puzzle' puzzle.slug %}" class="btn">{% translate "Back to the puzzle" %}</a>
{% endblock %}

{% block content %}
<style>
.hint-error { margin-bottom: 4rem; }
.hint-hidden { display: none; }
.hint-table td {
    white-space: nowrap;
    vertical-align: top;
    padding: 0 0 3rem;
}
.hint-table td:last-child {
    width: 0;
}
.hint-table b {
    margin-right: 1ch;
}
.hint-table pre {
    margin: 0 5rem 2rem 0;
    white-space: pre-wrap;
    display: inline-block;
    vertical-align: text-top;
}
.hint-info {
    color: #999;
    white-space: initial;
}
</style>

<h1>{% blocktranslate with puzzle=puzzle.name %}Hints for {{ puzzle }}{% endblocktranslate %}</h1>

<main>
    {% if not hunt_is_over %}
    <ul>
    {% if team.num_intro_hints_remaining > 0 %}
        <li>{% blocktranslate count hints=team.num_intro_hints_remaining %}You have <b>{{ hints }} hint</b>{% plural %}You have <b>{{ hints }} hints</b>{% endblocktranslate %}
            {% include 'icon-hint.svg' %}
            {% blocktranslate %}that you may use to ask for a hint on <b>any of the first {{ intro_count }} puzzles.</b>{% endblocktranslate %}
    {% endif %}
    {% if team.num_nonintro_hints_remaining > 0 %}
    {% if team.num_intro_hints_remaining > 0 %}
        <li>{% blocktranslate count hints=team.num_nonintro_hints_remaining %}Your remaining <b>{{ hints }} hint</b>{% plural %}Your remaining <b>{{ hints }} hints</b>{% endblocktranslate %}
            {% include 'icon-hint.svg' %}
            {% blocktranslate %}can be used on <b>any puzzle in the hunt.</b>{% endblocktranslate %}
    {% else %}
        <li>{% blocktranslate count hints=team.num_nonintro_hints_remaining %}You have <b>{{ hints }} hint</b>{% plural %}You have <b>{{ hints }} hints</b>{% endblocktranslate %}
            {% include 'icon-hint.svg' %}
            {% blocktranslate %}that you may use to ask for a hint on any puzzle.{% endblocktranslate %}
    {% endif %}
    {% endif %}
    {% if team.num_free_answers_remaining > 0 %}
    {% if relevant_hints_remaining > 0 %}
        <li>{% blocktranslate count answers=team.num_free_answers_remaining %}You can also use your <b>{{ answers }} free answer</b>{% plural %}You can also use your <b>{{ answers }} free answers</b>{% endblocktranslate %}
            {% include 'icon-answer.svg' %}
            {% blocktranslate %}as a hint if you run out of hints.{% endblocktranslate %}
    {% else %}
        <li>{% blocktranslate count answers=team.num_free_answers_remaining %}You have no usable hints, but you do have <b>{{ answers }} free answer</b>{% plural %}You have no usable hints, but you do have <b>{{ answers }} free answers</b>{% endblocktranslate %}
            {% include 'icon-answer.svg' %}
            {% blocktranslate %}that you may use as a hint.{% endblocktranslate %}
    {% endif %}
    {% endif %}
    {% if one_hint_at_a_time %}
        <li>{% blocktranslate %}You may have <b>one hint</b> open at a time. You must wait until that hint is answered to ask another.{% endblocktranslate %}
    {% endif %}
        {% url 'rules' as rules %}
        <li>{% blocktranslate %}See the <a href="{{ rules }}#Hints">rules page</a> for details on when hints will be released.{% endblocktranslate %}
    </ul>
    {% endif %}

    <h4>{% translate "Request a hint" %}</h4>
    {% if error %}
    <p class="hint-error">{{ error }}</p>
    {% endif %}

    {% if not error or can_followup %}
    {% if puzzle_answer is not None %}
    <div class="note">
        {% blocktranslate %}You&rsquo;ve already solved this puzzle, but you can ask for a hint anyway if you&rsquo;d like (for example, if you&rsquo;re not sure about a step or you backsolved it). The restrictions above still apply.{% endblocktranslate %}
    </div>
    {% endif %}
    <form method="post" class="call-in-answer-panel{% if error %} hint-hidden{% endif %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="row">{{ field.label_tag }}</div>
        <div class="row">{{ field }} {{ field.errors }}</div>
        {% endfor %}

        {% if can_followup %}
        <input type="hidden" name="is_followup" value="">
        <div class="note hint-hidden">
            {% blocktranslate %}You&rsquo;re asking us for a follow-up to your last hint. This won&rsquo;t consume one of your hints; we&rsquo;ll see if we can be more helpful based on your submission, but we may ask you to use a new regular hint instead.{% endblocktranslate %}
        </div>
        <script>
        function markFollowup() {
            $('.hint-hidden').removeClass('hint-hidden');
            $('.hint-error').addClass('hint-hidden');
            $('[name=is_followup]').val(true);
            $('[name=hint_question]').focus();
            $('h4')[0].scrollIntoView();
            $('#hint-cost').text(0);
        }
        $(function() {
            $('.hint-response').each(function(i, pre) {
                pre.innerHTML = pre.innerHTML.replace(
                    /(ask|ask for|request) (a|another) follow-?up( hint)?/ig,
                    '<button class="btn" onclick="markFollowup()">$&</button>');
            });
        });
        </script>
        {% endif %}

        <div class="row">
            <button class="btn" type="submit">
                {% translate "Submit" %} (&minus; <span id="hint-cost">1</span> {% include 'icon-hint.svg' %})
            </button>
        </div>
    </form>
    {% endif %}

    {% if hints %}
    <h4>Previously requested hints</h4>
    {% if can_followup %}
    <button class="btn" onclick="markFollowup()">{% translate "This wasn&rsquo;t helpful" %}</button>
    {% endif %}
    <table class="hint-table">
        {% for hint in hints %}
        <tr class="submitted-text">
            <td>
                <b>{% translate "Q:" %}</b><pre>{{ hint.hint_question }}</pre><br>
                {% if hint.status == 'NR' %}
                <b>{% translate "A:" %}</b><pre class="hint-info">{% translate "No response yet." %}</pre>
                {% elif hint.response %}
                <b>{% translate "A:" %}</b><pre class="hint-response">{{ hint.response }}</pre>
                {% endif %}
            </td>
            <td>
                <p>
					{% format_time hint.submitted_datetime "DATE_AT_TIME" as submitted %}
                    {% blocktranslate %}Asked {{ submitted }}{% endblocktranslate %}
                    {% if hint.answered_datetime and hint.status != 'OBS' %}
					{% format_time hint.answered_datetime "DATE_AT_TIME" as answered %}
                    <br>{% blocktranslate %}Answered {{ answered }}{% endblocktranslate %}
                    {% endif %}
                </p>
                <p class="hint-info">
                    {% if hint.status == 'OBS' %}
                    {% translate "Looks like you solved this puzzle before we could send you
                    a response! Your use of the hint was refunded." %}
                    {% elif hint.is_followup %}
                    {% translate "This was a follow-up hint." %}
                    {% elif hint.status == 'REF' %}
                    {% translate "Your use of the hint was refunded." %}
                    {% endif %}
                </p>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</main>
{% endblock %}
