{% extends "base.html" %}
{% load static %}

{% block page-title %}
<title>Hints</title>
{% endblock %}

{% block content %}
<h1>Open Hints</h1>

<div class="hint-controls">
    <a class="btn" href="javascript:askName(true)">
        Your name is <b id="claimer">anonymous</b>.
    </a>
    <script src="{% static "js/hint.js" %}"></script>
    <script>getUpdates();</script>
    <form action="/admin/puzzles/hint/" method="get">
        <input placeholder="Search hints..." name="q">
    </form>
</div>

<table class="hint-table">
    {% for hint in unanswered %}
    {% include "hint_list_entry.html" with hint=hint %}
    {% endfor %}
</table>

<table class="hint-table">
    <tr>
        <td colspan="3">
            <h4>Requested by most teams</h4>
        </td>
        <td colspan="2">
            <h4>Top hint answerers</h4>
        </td>
    </tr>
    {% for entry in stats %}
    <tr>
        {% if entry.0 %}
        <td style="text-align: right">
            <a href="{% url 'hint-list' %}?puzzle={{ entry.0.puzzle.id }}">
                {{ entry.0.count }}
            </a>
        </td>
        <td>
            <a href="{% url 'puzzle' entry.0.puzzle.slug %}">
                {{ entry.0.puzzle.name }}
            </a>
        </td>
        <td>
            <a href="{% url 'round' entry.0.puzzle.round.slug %}">
                {{ entry.0.puzzle.round }}
            </a>
        </td>
        {% else %}
        <td colspan="3"></td>
        {% endif %}
        {% if entry.1 %}
        <td style="text-align: right">
            {{ entry.1.count }}
        </td>
        <td>
            {{ entry.1.claimer }}
        </td>
        {% else %}
        <td colspan="2"></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
