{% extends "base.html" %}
{% load i18n %}

{% block top-left-actions %}
<a href="{% url 'wrapup' %}" class="btn">{% translate "Back to wrap-up" %}</a>
{% endblock %}

{% block content %}

<h1>{% translate "Hunt Stats" %}</h1>

<main>
    <div class="info-row">
        <div>
            <h4>&nbsp;</h4>
            <div class="info-desc">
                <div class="stat-entry">{% translate "Total teams:" %} <span class="stat-value">{{ total_teams }}</span></div>
                <div class="stat-entry">{% translate "Total participants:" %} <span class="stat-value">{{ total_participants }}</span></div>
                <div class="stat-entry">{% translate "Hints asked:" %} <span class="stat-value">{{ total_hints }}</span></div>
            </div>
        </div>
        <div>
            <h4>&nbsp;</h4>
            <div class="info-desc">
                <div class="stat-entry">{% translate "Total guesses:" %} <span class="stat-value">{{ total_guesses }}</span></div>
                <div class="stat-entry">{% translate "Total solves:" %} <span class="stat-value">{{ total_solves }}</span></div>
                <div class="stat-entry">{% translate "Metas solved:" %} <span class="stat-value">{{ total_metas }}</span></div>
            </div>
        </div>
    </div>

    <table class="sortable list-table">
        <tr>
            <th>{% translate "Puzzle" %}</th>
            <th title="{% translate 'Total number of correct answers' %}">{% translate "Solves" %}</th>
            <th title="{% translate 'Total number of answer attempts' %}">{% translate "Guesses" %}</th>
            <th title="{% translate 'Total number of hints requested' %}">{% translate "Hints" %}</th>
            <th title="{% translate 'Total number of non-backsolves' %}">{% translate "Forward solves" %}</th>
            <th title="{% translate 'Forward solve after using no hints on this puzzle' %}">{% translate "0&#8288;-&#8288;hint forward" %}</th>
            <th title="{% translate 'Forward solve after using one hint on this puzzle' %}">{% translate "1&#8288;-&#8288;hint forward" %}</th>
            <th title="{% translate 'Forward solve after using multiple hints on this puzzle' %}">{% translate "2&#8288;+&#8288;-&#8288;hint forward" %}</th>
            <th title="{% translate 'Solved after the round meta or within five minutes of it' %}">{% translate "Back solves" %}</th>
            <th title="{% translate 'Made at least one guess but none were correct' %}">{% translate "No solve" %}</th>
        </tr>
        {% for row in data %}
        <tr>
            <td sorttable_customkey="{{ forloop.counter }}"{% if row.puzzle.is_meta %} class="meta-stats"{% endif %}>
                <a href="{% url 'stats' row.puzzle.slug %}">{{ row.puzzle.name }}</a>
            </td>
            {% for number in row.numbers %}
            <td>{{ number }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</main>

{% endblock %}
