{% extends "base.html" %}
{% load i18n %}
{% block content %}

<h2>{% translate "Login" %}</h2>

<form id="login" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-section">
        {% for field in form %}
        <div class="form-row">
            <div class="form-desc">
                {{ field.label_tag }}
            </div>
            {{ field }}
            {{ field.errors }}
            <div class="form-desc">
                {% if not hunt_is_closed %}
                {% url 'register' as register_url %}
                {% url 'password_reset' as password_url %}
                {% if field.name == 'username' %}
                {% blocktranslate %}If you haven&rsquo;t created a team yet, <a href="{{ register_url }}" tabindex="1">register a new team here</a>.{% endblocktranslate %}
                {% else %}
                {% blocktranslate %}Forgot your password? <a href="{{ password_url }}" tabindex="1">Click here to reset password</a>.{% endblocktranslate %}
                {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="form-section">
        <button class="btn" type="submit">{% translate "Submit" %}</button>
    </div>
</form>

{% endblock %}
