{% extends "base.html" %}
{% load i18n %}
{% block content %}

<h2>{% translate "Login" %}</h2>

<form id="login" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-section">
        {% for field in form %}
        <div class="row">
            <div class="two columns">
                {{ field.label_tag }}
            </div>
            <div class="four columns">
                {{ field }}
                {{ field.errors }}
            </div>
            {% if not hunt_is_closed %}
            {% url 'register' as register_url %}
            {% url 'password_reset' as password_url %}
            <div class="six columns">
            {% if field.name == 'username' %}
                <p>{% blocktranslate %}If you haven&rsquo;t created a team yet, <a href="{{ register_url }}">register a new team here</a>.{% endblocktranslate %}</p>
            {% else %}
                <p>{% blocktranslate %}Forgot your password? <a href="{{ password_url }}">Click here to reset password</a>.{% endblocktranslate %}</p>
            {% endif %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <div class="form-section">
        <button class="btn" type="submit">{% translate "Submit" %}</button>
    </div>
</form>

{% endblock %}
