{% extends "base.html" %}
{% load i18n %}
{% block content %}

<h2>{% translate "Password Reset" %}</h2>

<form id="password_reset" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-section">
        {% for field in form %}
        <div class="form-row">
            <div class="form-desc">
                {{ field.label_tag }}
            </div>
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
    </div>

    <div class="form-section">
        <button class="btn" type="submit">{% translate "Submit" %}</button>
    </div>
</form>

{% endblock %}
