{% extends "base.html" %}
{% block content %}

{% if validlink %}
<h2>Password Change</h2>

<div class="row">
    <div class="six columns">
        <form id="password_change" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {% for field in form %}
            <div class="row">
                <div class="four columns">
                    {{ field.label_tag }}
                </div>
                <div class="eight columns">
                    {{ field }}
                    {{ field.errors }}
                </div>
            </div>
            {% endfor %}

            <div style="margin-top: 10px;">
                <button class="btn" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% else %}
<p>
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
</p>
{% endif %}

{% endblock %}
