{% extends "base.html" %}
{% load i18n %}
{% block content %}

{% if validlink %}
<h2>{% translate "Password Change" %}</h2>

<form id="password_change" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-section">
        {% for field in form %}
        <div class="row">
            <div class="four columns">
                {{ field.label_tag }}
            </div>
            <div class="four columns">
                {{ field }}
                {{ field.errors }}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="form-section">
        <button class="btn" type="submit">{% translate "Submit" %}</button>
    </div>
</form>
{% else %}
<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
{% endif %}

{% endblock %}
