{% load i18n %}
<tbody class="puzzles-section">
    {% for data in round.puzzles %}
    <tr>
        <td>
            {% if not data.puzzle.is_meta %}{{ data.puzzle.order }}{% endif %}
        </td>
        <td>
            <a href="{% url 'puzzle' data.puzzle.slug %}">
                {% if data.puzzle.is_meta %}
                <div class="puzzles-new">{% translate "meta" %}</div>
                {% elif data.new %}
                <div class="puzzles-new">{% translate "new!" %}</div>
                {% endif %}
                {{ data.puzzle.name }}
            </a>
            {% if 'solve_stats' in data %}
            <div class="puzzles-inner">
                {% if data.full_stats %}
                <a href="{% url 'stats' data.puzzle.slug %}">
                {% endif %}
                {% blocktranslate count correct=data.solve_stats.correct %}<b>{{ correct }}</b>&nbsp;solve{% plural %}<b>{{ correct }}</b>&nbsp;solves{% endblocktranslate %}
                | {% blocktranslate count guesses=data.solve_stats.guesses %}<b>{{ guesses }}</b>&nbsp;guess{% plural %}<b>{{ guesses }}</b>&nbsp;guesses{% endblocktranslate %}
                {% if data.full_stats %}
                | {% blocktranslate count teams=data.solve_stats.teams %}<b>{{ teams }}</b>&nbsp;team{% plural %}<b>{{ teams }}</b>&nbsp;teams{% endblocktranslate %}
                </a>
                {% endif %}
            </div>
            {% endif %}
        </td>
        <td>
            {% if data.full_stats %}
            <a class="puzzles-new" href="{% url 'solution' data.puzzle.slug %}">{% translate "Solution" %}</a>
            {% elif 'hints' in data %}
            <a class="puzzles-new" href="{% url 'hints' data.puzzle.slug %}">{% translate "Hints" %}</a>
            {% endif %}
        </td>
        {% if team %}
        <td class="puzzles-answer">
            <div>
                {% if 'answer' in data %}{{ data.answer }}{% else %}&nbsp;{% endif %}
            </div>
            {% if 'survey_stats' in data %}
            <div class="puzzles-inner">
                <a href="{% url 'survey' data.puzzle.slug %}">
                {% for stat in data.survey_stats %}
                <b>{{ stat.average|floatformat:2 }}</b>/{{ stat.max_rating }}&nbsp;{{ stat.adjective }}
                {% if not forloop.last %}|{% endif %}
                {% endfor %}
                </a>
            </div>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</tbody>
