{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block page-title %}
<title>{% blocktranslate with puzzle_name=puzzle.name %}Solve: {{ puzzle_name }}{% endblocktranslate %}</title>
{% endblock %}

{% block top-left-actions %}
<a href="{% url 'puzzle' puzzle.slug %}" class="btn">{% translate "Back to the puzzle" %}</a>
{% endblock %}

{% block content %}

<h1>
    {% blocktranslate with puzzle_name=puzzle.name %}Solve: {{ puzzle_name }}{% endblocktranslate %}
    {% if puzzle_answer %}
    <div class="solved-title-marker">{% translate "Solved!" %} <span class="solved-title-answer">{{ puzzle_answer }}</span></div>
    {% endif %}
</h1>

<main>
{% if puzzle_answer != None %}
    {% if survey %}
    <h4>{% translate "Optional survey" %}</h4>
    <div class="note">{% translate "You can come back to this page at any time to edit your response." %}</div>

    <form method="post" id="survey_form">
        {% csrf_token %}
        <input name="id" value="" type="hidden">
        {{ survey.non_field_errors }}

        <div class="info-row">
        {% for field in survey %}
            {% if 'adjective' in field.field.widget.attrs %}
            <div class="rating">
                {% blocktranslate with max_value=field.field.max_value adjective=field.field.widget.attrs.adjective %}On a scale from 1 to {{ max_value }}, how {{ adjective }} was this puzzle?{% endblocktranslate %}
                <p>
                {% spaceless %}
                {% for option in field %}
                    {{ option.tag }}
                    <label for="{{ option.id_for_label }}">★</label>
                {% endfor %}
                {% endspaceless %}
                </p>
                {{ field.errors }}
            </div>
            {% endif %}
        {% endfor %}
        </div>

        {% for field in survey %}
        {% if 'adjective' not in field.field.widget.attrs %}
        {{ field }}
        {{ field.errors }}
        {% endif %}
        {% endfor %}

        <button class="btn" type="submit">{% translate "Submit" %}</button>
        {% if past_surveys %}
        <a class="btn danger" style="float: right" href="javascript:clearSurvey()">{% translate "Reset" %}</a>
        {% endif %}

        <style>
        .rating.rating {
            text-align: center;
            border: none;
        }

        .rating p {
            white-space: nowrap;
            pointer-events: none;
            user-select: none;
            margin: 0;
        }

        .rating input {
            position: absolute;
            opacity: 0;
            pointer-events: none;
        }

        .rating label {
            display: inline;
            padding: 0 2px;
            cursor: pointer;
            pointer-events: initial;
            font-size: 2rem;
            text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black, 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black;
            color: gold;
        }

        .rating :invalid ~ label, .rating :checked ~ label ~ label {
            color: white;
        }

        .rating p:hover label {
            color: gold;
        }

        .rating label:hover ~ label {
            color: white;
        }
        </style>
    </form>

    {% if past_surveys %}
    <table class="list-table">
        <tr>
            {% for field in survey_fields %}
            <th>{{ field.adjective|title }}</th>
            {% endfor %}
            <th>{% translate "Comments" %}</th>
            <th>{% translate "Submitted" %}</th>
            <th></th>
        </tr>
        {% for past_survey in past_surveys %}
        <tr>
            {% for field in past_survey.fields %}
            <td>{{ field.value }} <small>/ {{ field.max }}</small></td>
            {% endfor %}
            <td><pre class="submitted-text">{{ past_survey.comments }}</pre></td>
            <td>{% format_time past_survey.submitted_datetime %}</td>
            <td><a href="javascript:editSurvey({{ past_survey.id }})">{% translate "Edit" %}</a></td>
        {% endfor %}
    </table>
    {{ past_surveys|json_script:"past_surveys" }}
    <script>
        function clearSurvey() {
            $('#survey_form [name=id]').val('');
            $('#survey_form [type=radio]').prop('checked', false);
            $('#survey_form [name=comments]').val('');
        }
        function editSurvey(id) {
            for (const pastSurvey of JSON.parse($('#past_surveys').text())) {
                if (pastSurvey.id != id) continue;
                $('#survey_form [name=id]').val(pastSurvey.id);
                for (const field of pastSurvey.fields)
                    $('#survey_form [name=' + field.name + '][value=' + field.value + ']').prop('checked', true);
                $('#survey_form [name=comments]').val(pastSurvey.comments);
            }
        }
    </script>
    {% endif %}
    {% endif %}
{% else %}
    {% if guesses_remaining == 0 %}
    <p>{% translate "You have no more guesses remaining for this puzzle!" %}</p>
    {% else %}
    <form method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for field in form %}
        <div class="form-row">
            <div class="form-desc">
                {{ field.label_tag }}
            </div>
            {{ field }}
            {{ field.errors }}
            <div class="form-desc">
                {% blocktranslate count guesses=guesses_remaining %}You have {{ guesses }} guess remaining for this puzzle.{% plural %}You have {{ guesses }} guesses remaining for this puzzle.{% endblocktranslate %}
            </div>
            <a class="delete-row" href="#">&#x2794;</a>
        </div>
        {% endfor %}
    </form>
    {% endif %}

    {% if not puzzle.is_meta and num_free_answers_remaining > 0 %}
    {% url 'free-answer' puzzle.slug as slug %}
    <p>{% blocktranslate count answers=num_free_answers_remaining %}You have <b><a href="{{ slug }}">{{ answers }} free answer</a></b>{% plural %}You have <b><a href="{{ slug }}">{{ answers }} free answers</a></b>{% endblocktranslate %}
        {% include 'icon-answer.svg' %}
    {% translate " that you may use to instantly solve any non-meta puzzle." %}</p>
    {% endif %}
{% endif %}

{% if puzzle_submissions %}
    <h4>{% translate "Previous guesses" %}</h4>
    <ul>
        {% for submission in puzzle_submissions %}
        <li>{{ submission.submitted_answer }}</li>
        {% endfor %}
    </ul>
{% endif %}
</main>

<script>
$('.delete-row').click(function(e) {
    e.preventDefault();
    this.closest('form').requestSubmit();
});
</script>

{% endblock %}
