{% extends "base.html" %}
{% load i18n %}

{% block page-title %}
<title>{% blocktranslate with puzzle_name=puzzle.name %}Call in: {{ puzzle_name }}{% endblocktranslate %}</title>
{% endblock %}

{% block top-left-actions %}
<a href="{% url 'puzzle' puzzle.slug %}" class="btn">{% translate "Back to the puzzle" %}</a>
{% endblock %}

{% block content %}

<h1>{% translate "Call in an answer for" %} {{ puzzle.name }}</h1>

<main>
{% if puzzle_answer != None %}
    <div class="solved-panel">
        <h4>{% translate "Solved!" %}</h4>
        <p>{% translate "The answer was"%} <b>{{ puzzle_answer }}</b>.</p>
    </div>

    {% if survey %}
    <h4>{% translate "Optional survey" %}</h4>
    <div class="note">{% blocktranslate %}This survey will submit on behalf of 
your whole team, so make sure you don&rsquo;t have two responders 
overwriting each other&rsquo;s comments.  
You can come back to this page at any time to edit your response.{% endblocktranslate %}
</div>

    <form method="post" class="call-in-answer-panel">
        {% csrf_token %}

        {{ survey.non_field_errors }}

        <div class="row">
        {% for field in survey %}
            {% if 'adjective' in field.field.widget.attrs %}
            <div class="six columns rating">
                {% blocktranslate with max_value=field.field.max_value adjective=field.field.widget.attrs.adjective %}On a scale from 1 to {{ max_value }}, how {{ adjective }} was this puzzle?{% endblocktranslate %}
                <p>
                {% spaceless %}
                {% for option in field %}
                    {{ option.tag }}
                    <label for="{{ option.id_for_label }}">★</label>
                {% endfor %}
                {% endspaceless %}
                </p>
                {{ field.errors }}
            </div>
            {% endif %}
        {% endfor %}
        </div>

        {% for field in survey %}
        {% if 'adjective' not in field.field.widget.attrs %}
        <div class="row">
            <div class="three columns">
                {{ field.label_tag }}
            </div>
            <div class="six columns">
                {{ field }}
                {{ field.errors }}
            </div>
            <div class="three columns">
                <button class="btn" type="submit">{% translate "Submit" %}</button>
            </div>
        </div>
        {% endif %}
        {% endfor %}

        <style>
        .rating {
            text-align: center;
        }

        .rating p {
            white-space: nowrap;
            pointer-events: none;
            user-select: none;
        }

        .rating input {
            position: absolute;
            opacity: 0;
            pointer-events: none;
        }

        .rating label {
            display: inline;
            padding: 0 2px;
            cursor: pointer;
            pointer-events: initial;
            font-size: 2rem;
            text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black, 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black;
            color: gold;
        }

        .rating :invalid ~ label, .rating :checked ~ label ~ label {
            color: white;
        }

        .rating p:hover label {
            color: gold;
        }

        .rating label:hover ~ label {
            color: white;
        }
        </style>
    </form>
    {% endif %}
{% else %}
    {% if guesses_remaining == 0 %}
    <p>{% translate "You have no more guesses remaining for this puzzle!" %}</p>
    {% else %}
    <form method="post" class="call-in-answer-panel">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for field in form %}
        <div class="row">
            <div class="four columns">
                {{ field.label_tag }}
            </div>
            <div class="four columns">
                {{ field }}
                {{ field.errors }}
            </div>
            <div class="four columns">
                <button class="btn" type="submit">{% translate "Submit" %}</button>
            </div>
        </div>
        {% endfor %}
    </form>
    <p>{% blocktranslate count guesses=guesses_remaining %}You have {{ guesses }} guess remaining for this puzzle.{% plural %}You have {{ guesses }} guesses remaining for this puzzle.{% endblocktranslate %}</p>
    {% endif %}

    {% if not puzzle.is_meta and num_free_answers_remaining > 0 %}
    {% url 'free-answer' puzzle.slug as slug %}
    <p>{% blocktranslate count answers=num_free_answers_remaining %}You have <b><a href="{{ slug }}">{{ answers }} free answer</a></b>{% plural %}You have <b><a href="{{ slug }}">{{ answers }} free answer</a></b>{% endblocktranslate %}
        {% include 'icon-answer.svg' %}
    {% translate " that you may use to instantly solve any non-meta puzzle." %}</p>
    {% endif %}
{% endif %}

{% if puzzle_submissions %}
    <h4>{% translate "Previous guesses" %}</h4>
    <ul>
        {% for submission in puzzle_submissions %}
        <li>{{ submission.submitted_answer }}</li>
        {% endfor %}
    </ul>
{% endif %}
</main>

{% endblock %}
