{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block page-title %}
<title>{% blocktranslate with puzzle_name=puzzle.name %}Stats: {{ puzzle_name }}{% endblocktranslate %}</title>
{% endblock %}

{% block top-left-actions %}
<a href="{% url 'puzzle' puzzle.slug %}" class="btn">{% translate "Back to the puzzle" %}</a>
{% endblock %}

{% block content %}

<h1>{% blocktranslate with puzzle_name=puzzle.name %}Stats for {{ puzzle_name }}{% endblocktranslate %}</h1>

<main>
    <div class="row puzzle-stats-panel">
        <div class="six columns">
            <div class="stat-entry">{% translate "Total solves:" %} <span class="stat-value">{{ solves }}</span></div>
        </div>
        <div class="six columns">
            <div class="stat-entry">{% translate "Total guesses:" %} <span class="stat-value">{{ guesses }}</span></div>
        </div>
    </div>

    <table class="sortable gph-list-table">
        <col style="width: 40%">
        <col style="width: 10%">
        <col style="width: 20%">
        <col style="width: 10%">
        <col style="width: 20%">
        <tbody>
            <tr>
                <th>{% translate "Team" %}</th>
                <th>{% translate "Incorrect guesses" %}</th>
                <th>{% translate "Unlock time" %} ({{ start_time|date:"T" }})</th>
                <th>{% translate "Time to solve" %}</th>
                <th>{% translate "Solve time" %} ({{ start_time|date:"T" }})</th>
            </tr>
            {% for solver in solvers %}
            <tr{% if solver.is_current %} class="current-team"{% endif %}>
                <td><a href="{% url 'team' solver.team.team_name %}">{{ solver.team.team_name }}</a></td>
                <td>{{ solver.total_guesses }}</td>
                <td sorttable_customkey="{{ solver.unlock_time|unix_time }}">{% format_time solver.unlock_time %}</td>
                <td sorttable_customkey="{{ solver.open_duration }}">{% format_duration solver.open_duration %}</td>
                <td sorttable_customkey="{{ solver.solve_time|unix_time }}">{% format_time solver.solve_time %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="sortable gph-list-table">
        <col style="width: 80%">
        <col style="width: 20%">
        <tbody>
            <tr>
                <th>{% translate "Answer" %}</th>
                <th>{% translate "Submission count" %}</th>
            </tr>
            <tr>
                <td style="font-family: monospace; font-weight: bold;">{{ puzzle.answer }}</td>
                <td style="font-weight: bold;">{{ solves }}</td>
            </tr>
            {% for pair in answers_tried %}
            <tr>
                <td style="font-family: monospace; word-break: break-all;">{{ pair.0 }}</td>
                <td>{{ pair.1 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}
