{% extends "base.html" %}
{% block content %}

<h1>Story</h1>

<main>

{% if meta1_open %}
<div class="no-break story-chunk">
    <h4>Meta Meta</h4>
    {% if meta1_done %}
        You succeeded!
    {% endif %}
</div>
{% endif %}

{% if meta0_open %}
<div class="no-break story-chunk">
    <h4>Intro Meta</h4>
    {% if meta0_done %}
        But wait...
    {% endif %}
</div>
{% endif %}

{% if show_started %}
<div class="no-break story-chunk">
    Time to solve puzzles...
</div>
{% endif %}

{% if show_prehunt %}
<div class="no-break story-chunk">
    Get hyped!
</div>
{% endif %}

</main>

{% endblock %}
