{% extends "base.html" %}
{% load i18n %}
{% block content %}

<h1>{% translate "Story" %}</h1>

<main>

{% for key in story_points %}

{% if key == 'meta2_done' %}
<div class="no-break story-chunk">
    <h4>{% translate "Meta Meta" %}</h4>
    {% translate "You succeeded!" %}
</div>
{% endif %}

{% if key == 'round2_open' %}
<div class="no-break story-chunk">
    <h4>{% translate "Intro Meta" %}</h4>
    {% translate "But wait..." %}
</div>
{% endif %}

{% if key == 'round1_open' %}
<div class="no-break story-chunk">
    <h4>{% translate "Hunt Open" %}</h4>
    {% translate "Time to solve puzzles..." %}
</div>
{% endif %}

{% if key == 'pre_hunt' %}
<div class="no-break story-chunk">
    <h4>???</h4>
    {% translate "Get hyped!" %}
</div>
{% endif %}

{% endfor %}

</main>

{% endblock %}
