{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block page-title %}
<title>{% blocktranslate with puzzle_name=puzzle.name %}Surveys: {{ puzzle_name }}{% endblocktranslate %}</title>
{% endblock %}

{% block top-left-actions %}
<a href="{% url 'puzzle' puzzle.slug %}" class="btn">{% translate "Back to the puzzle" %}</a>
{% endblock %}

{% block content %}

<style>
th {
    white-space: nowrap;
}
</style>

<h1>{% blocktranslate with puzzle_name=puzzle.name %}Surveys: {{ puzzle_name }}{% endblocktranslate %}</h1>

<main>
    <table class="sortable list-table">
        <tr>
            {% for field in fields %}
            <th>{{ field.field.adjective|title }} ({{ field.average|floatformat:2 }} <small>/ {{ field.max }}</small>)</th>
            {% endfor %}
            <th>{% translate "Comments" %}</th>
            <th>{% translate "Submitted" %}</th>
            <th>{% translate "Team" %}</th>
        </tr>
        {% for survey in surveys %}
        <tr>
            {% for rating in survey.ratings %}
            <td>{{ rating.0 }} <small>/ {{ rating.1 }}</small></td>
            {% endfor %}
            <td><pre class="submitted-text">{{ survey.survey.comments }}</pre></td>
            <td sorttable_customkey="{{ survey.survey.submitted_datetime|unix_time }}">{% format_time survey.survey.submitted_datetime %}</td>
            <td><a href="{% url 'team' survey.survey.team.team_name %}">{{ survey.survey.team.team_name }}</a></td>
        </tr>
        {% endfor %}
    </table>
</main>

{% endblock %}
