{% extends "base.html" %}
{% load puzzle_tags %}
{% load humanize %}

{% block page-title %}
<title>{{ view_team.team_name }}</title>
{% endblock %}

{% block top-left-actions %}
{% if modify_info_available %}
<a href="{% url 'edit-team' %}" class="btn">Edit team members</a>
<a href="{% url 'password_change' %}" class="btn">Change password</a>
{% elif request.context.is_superuser %}
<a href="/admin/puzzles/team/{{ view_team.id }}/change/" class="btn">Django admin</a>
<a href="/admin/puzzles/answersubmission/?team__id__exact={{ view_team.id }}" class="btn">All guesses</a>
<a href="{% url 'hint-list' %}?team={{ view_team.id }}" class="btn">All hints</a>
<a href="{% url 'impersonate-start' view_team.user_id %}" class="btn" style="filter: hue-rotate(120deg)">Impersonate</a>
{% endif %}
{% endblock %}

{% block content %}

<style>
.meta {
    font-style: italic;
}

.team-members {
    margin-top: 24px;
}

@media (min-width: 550px) {
    .team-members {
        margin-top: 0;
    }
}

.team-info-panel h4 {
    margin-bottom: 0;
}

.free {
    color: #aaa;
}

.free td:last-child:before {
    content: "(";
}

.free td:last-child:after {
    content: ")";
}
</style>

<h1>{{ view_team.team_name }}</h1>

<main>
    <div class="team-info-panel">
        <div class="row">
            <div class="six columns">
                <h4>Stats</h4>
                <div class="stat-entry">Rank: <span class="stat-value">{{ rank }}</span></div>
                <div class="stat-entry">Puzzles solved: <span class="stat-value">{{ solves }}</span></div>
                {% if view_info_available %}
                {% if view_team.num_hints_remaining > 0 %}
                <div class="stat-entry">Hints available: <span class="stat-value">{{ view_team.num_hints_remaining }}</span></div>
                {% endif %}
                {% if view_team.num_free_answers_remaining > 0 %}
                <div class="stat-entry">Free answers available: <span class="stat-value">{{ view_team.num_free_answers_remaining }}</span></div>
                {% endif %}
                {% endif %}
            </div>
            <div class="six columns">
                <div class="team-members">
                    <h4>Team Members:</h4>
                    <div class="stat-entry">
                        {% for team_member in view_team.teammember_set.all %}
                        {{ team_member.name }}{% if forloop.revcounter != 1 %}, {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if submissions|length %}
    {% if view_info_available or hunt_is_over %}
    <svg class="chart" viewbox="0 0 {{ chart.hunt_length }} {{ all_puzzles|length }}" preserveAspectRatio="none">
        <path d="M {{ chart.hunt_length }} 0 L 0 0
        {% for solve in chart.solves %}
        L {{ solve.before }} {{ forloop.counter }}
        L {{ solve.after }} {{ forloop.counter }}
        {% endfor %}
        " class="chart-area"></path>
        {% for meta in chart.metas %}
        <path d="M {{ meta }} 0 L {{ meta }} {{ all_puzzles|length }}" class="chart-line"></path>
        {% endfor %}
    </svg>
    <table class="sortable gph-list-table">
        <col style="width: 40%">
        <col style="width: 10%">
        <col style="width: 20%">
        <col style="width: 10%">
        <col style="width: 20%">
        <tr>
            <th>Puzzle</th>
            <th>Incorrect guesses</th>
            <th>Unlock time ({{ start_time|date:"T" }})</th>
            <th>Time to solve</th>
            <th>Solve time ({{ start_time|date:"T" }})</th>
        </tr>
        {% for s in submissions %}
        <tr{% if s.submission.used_free_answer %} class="free"{% endif %}>
            <td sorttable_customkey="{{ s.submission.puzzle.name }}"{% if s.submission.puzzle.is_meta %} class="meta"{% endif %}><a href="{% url 'puzzle' s.submission.puzzle.slug %}">{{ s.submission.puzzle.name }}</a></td>
            <td>{{ s.guesses }}</td>
            <td sorttable_customkey="{{ s.unlock_time|unix_time }}">{% format_time s.unlock_time %}</td>
            <td sorttable_customkey="{{ s.open_duration }}">{% format_duration s.open_duration %}</td>
            <td sorttable_customkey="{{ s.solve_time|unix_time }}">{% format_time s.solve_time %}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% endif %}
</main>

{% endblock %}
