{% extends "base.html" %}
{% load puzzle_tags %}
{% load humanize %}

{% block page-title %}
<title>{{ view_team.team_name }}</title>
{% endblock %}

{% block content %}

<style>
.chart {
    width: 100%;
    height: 82px;
    transform: scaleY(-1);
    margin-bottom: 24px;
}

.baz {
    fill: rgba(180, 160, 140, 0.3);
}

.area {
    fill: rgb(180, 220, 150);
}

.bar {
    stroke: rgba(248, 188, 78, 0.5);
    stroke-width: 0.5%;
    fill: none;
}

.meta {
    font-style: italic;
}

.team-members {
    margin-top: 24px;
}

@media (min-width: 550px) {
    .team-members {
        margin-top: 0;
    }
}

.team-member-controls {
    margin-top: 8px;
    line-height: 36px;
}

.team-info-panel h4 {
    margin-bottom: 0;
}

.free {
    color: #aaa;
}

.free td:last-child:before {
    content: "(";
}

.free td:last-child:after {
    content: ")";
}
</style>

<h1>{{ view_team.team_name }}</h1>

<main>
    <div class="team-info-panel">
        <div class="row">
            <div class="six columns">
                <h4>Stats</h4>
                <div class="stat-entry">Rank: <span class="stat-value">{{ rank }}</span></div>
                <div class="stat-entry">Puzzles solved: <span class="stat-value">{{ solves }}</span></div>
                {% if view_info_available %}
                {% if view_team.num_hints_remaining > 0 %}
                <div class="stat-entry">Hints available: <span class="stat-value">{{ view_team.num_hints_remaining }}</span></div>
                {% endif %}
                {% if view_team.num_free_answers_remaining > 0 %}
                <div class="stat-entry">Free answers available: <span class="stat-value">{{ view_team.num_free_answers_remaining }}</span></div>
                {% endif %}
                {% if hunt_has_started %}
                <div class="stat-entry">Depth: <span class="stat-value">{{ view_team.display_deep|intcomma }}</span></div>
                {% endif %}
                {% endif %}
            </div>
            <div class="six columns">
                <div class="team-members">
                    <h4>Team Members:</h4>
                    <div class="stat-entry">
                        {% for team_member in view_team.teammember_set.all %}
                        {{ team_member.name }}{% if forloop.revcounter != 1 %}, {% endif %}
                        {% endfor %}
                    </div>
                    {% if modify_info_available %}
                    <div class="team-member-controls">
                        <a href="{% url 'edit-team' %}" class="btn">Edit team members</a>
                        <a href="{% url 'password_change' %}" class="btn">Change password</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if submissions|length %}
    {% if view_info_available or hunt_is_over %}
    <svg class="chart" viewbox="0 0 {{ chart.hunt_length }} {{ num_puzzles }}" preserveAspectRatio="none">
        <path d="M 0 0 L {{ chart.end }} 0 L {{ chart.end }} {{ num_puzzles }} L 0 {{ num_puzzles }}" class="baz"></path>
        <path d="M {{ chart.hunt_length }} 0 L 0 0
        {% for solve in chart.solves %}
        L {{ solve.before }} {{ forloop.counter }}
        L {{ solve.after }} {{ forloop.counter }}
        {% endfor %}
        " class="area"></path>
        {% for meta in chart.metas %}
        <path d="M {{ meta }} 0 L {{ meta }} {{ num_puzzles }}" class="bar"></path>
        {% endfor %}
    </svg>
    <table class="sortable gph-list-table">
        <col style="width: 40%">
        <col style="width: 10%">
        <col style="width: 20%">
        <col style="width: 10%">
        <col style="width: 20%">
        <tr>
            <th>Puzzle</th>
            <th>Incorrect guesses</th>
            <th>Unlock time (EDT)</th>
            <th>Time to solve</th>
            <th>Solve time (EDT)</th>
        </tr>
        {% for submission in submissions %}
        <tr{% if submission.used_free_answer %} class="free"{% endif %}>
            <td sorttable_customkey="{{ submission.name }}"{% if submission.is_meta %} class="meta"{% endif %}><a href="{% url 'puzzle' submission.slug %}">{{ submission.name }}</a></td>
            <td>{{ submission.guesses }}</td>
            <td sorttable_customkey="{{ submission.unlock_time|unix_time }}">{% format_time submission.unlock_time %}</td>
            <td sorttable_customkey="{{ submission.open_duration }}">{% format_duration submission.open_duration %}</td>
            <td sorttable_customkey="{{ submission.solve_time|unix_time }}">{% format_time submission.solve_time %}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% endif %}
</main>

{% endblock %}
