{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}
{% load humanize %}

{% block page-title %}
<title>{{ view_team.team_name }}</title>
{% endblock %}

{% block top-left-actions %}
{% if modify_info_available %}
<a href="{% url 'edit-team' %}" class="btn">{% translate "Edit team members" %}</a>
<a href="{% url 'password_change' %}" class="btn">{% translate "Change password" %}</a>
{% if not hunt_is_over %}
<a href="javascript:toggleTimeUnlocks()" class="btn">
    {% if team.allow_time_unlocks %}
    {% translate "Disable time unlocks" %}
    {% else %}
    {% translate "Enable time unlocks" %}
    {% endif %}
</a>
<form method="post" id="time_unlocks" style="display: none">
    {% csrf_token %}
    <input type="hidden" name="enable" value="{{ team.allow_time_unlocks|yesno:'false,true' }}">
</form>
<script>
function toggleTimeUnlocks() {
    const form = document.getElementById('time_unlocks');
    {% if team.allow_time_unlocks %}
    const msg = gettext(`We unlock puzzles over several days after the hunt starts so all teams have a chance to work on them. You may disable this behavior in order to work on the hunt at your own pace.

Note that this means you may see fewer puzzles than if you were logged out. Also, this option has no effect after the hunt ends.`);
    if (confirm(msg)) form.submit();
    {% else %}
    form.submit();
    {% endif %}
}
</script>
{% endif %}
{% endif %}
{% endblock %}

{% block content %}

<style>
main {
    display: flex;
    gap: 2.5em;
    flex-direction: column;
}

.list-table td:not(:first-child) {
    white-space: nowrap;
    font-variant: tabular-nums;
}

.free td:not(:first-child) {
    opacity: 0.5;
}

.free td:last-child:before {
    content: "(";
}

.free td:last-child:after {
    content: ")";
}
</style>

<h1>{{ view_team.team_name }}</h1>

<main>
    {% for team_member in view_team.teammember_set.all %}
    {{ team_member.name }}{% if forloop.revcounter != 1 %}, {% endif %}
    {% endfor %}
    {% if submissions|length %}
    {% if view_info_available or hunt_is_over %}
    <table class="sortable list-table">
        <col style="width: 40%">
        <col style="width: 10%">
        <col style="width: 20%">
        <col style="width: 10%">
        <col style="width: 20%">
        <tr>
            <th>{% translate "Puzzle" %}</th>
            <th>{% translate "Incorrect guesses" %}</th>
            <th>{% translate "Unlock time" %} ({{ start_time|date:"T" }})</th>
            <th>{% translate "Time to solve" %}</th>
            <th>{% translate "Solve time" %} ({{ start_time|date:"T" }})</th>
        </tr>
        {% for s in submissions %}
        <tr{% if s.submission.used_free_answer %} class="free"{% endif %}>
            <td sorttable_customkey="{{ s.submission.puzzle.name }}"{% if s.submission.puzzle.is_meta %} class="meta-stats"{% endif %}>
                <a href="{% url 'puzzle' s.submission.puzzle.slug %}">{{ s.submission.puzzle.name }}</a>
            </td>
            <td>{{ s.guesses }}</td>
            <td sorttable_customkey="{{ s.unlock_time|unix_time }}">{% format_time s.unlock_time %}</td>
            <td sorttable_customkey="{{ s.open_duration }}">{% format_duration s.open_duration %}</td>
            <td sorttable_customkey="{{ s.solve_time|unix_time }}">{% format_time s.solve_time %}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% endif %}
</main>

{% endblock %}
