asgiref==3.4.1
channels==3.0.3
channels-redis==3.3.0
disco-py==0.0.14rc1
Django==3.2.13
django-impersonate==1.7.3
django-mathfilters==1.0.0
django-ratelimit==3.0.1
django-redis==5.0.0
gevent==1.5.0
greenlet==0.4.16
gunicorn==20.1.0
Markdown==3.3.4
requests==2.25.1
Twisted==22.4.0
uvicorn[standard]==0.14.0
