{% extends "puzzle.html" %}
{% block puzzle-body-md %}
<style>
table td {
	border: 1px solid white;
	text-align: center;
}
table {
	border-bottom: 1px solid white;
}
</style>

Can I count on you? Components come with no extra charge. To be honest, Bud, that's a fair way to proceed.
{: .flavor}

<table class="barred grid">
<tr><td>ALL LYRICAL</td><td>HR</td><td>IT IS I, XENA, WARRIOR PRINCESS</td><td>SKELETON PART</td></tr>
<tr><td>ARE WE OFF OUR ROCKERS?</td><td>LINGUAL</td><td>MGM</td><td>WEEK IN PERIL</td></tr>
<tr><td>ASTROLAB</td><td>CAP</td><td>STARVE</td><td>YOU GO NEXT</td></tr>
<tr><td>BB</td><td>I'M A WIFI VETERAN</td><td>NEVERLAND</td><td>VOID</td></tr>
<tr><td>DNA CHIP</td><td>HEM</td><td>IT WORKS!</td><td>LOSER</td></tr>
<tr><td>ELIZABETH REELECTED</td><td>GALE</td><td>SIN</td><td>SKI DAY</td></tr>
</table>


<button class="btn clipboard-button"></button>

{% endblock %}
