{% extends "puzzle.html" %}
{% block puzzle-body-md %}

Some friends don't play fair, but the key is The One with the Tea Leaves, who can read fixed patterns.
{: .flavor}

KBD GUD VZKB MGUZNA AUT NBAUTCDQ'R VDTTZUE

THD IKD VHDUD PIDW EIJDL IST

OYJ SLJ WBOY OYJ IYBIFJL NSX

ZXR WTR EXRVR IXKTDHRV IKT'Z IVY

TES GMS RHTE BEGSYS'N SX-BWLTMSL

QBZ LGZ FBZXZ XLVV CGI XCJBZM...DLU KGLF

RLH UZH WSRL PLKZGDHQ SZ K MUX

SUV ERV WUVYV YEGG FRJ YFXUVZ SFTV F BYVFT

NOE JQE WOEYE YJCC AC IAQE

<button class="btn clipboard-button"></button>

{% endblock %}