{% extends "puzzle.html" %}
{% block puzzle-body-md %}
<style>
h3 {
	border-bottom: none;
}
.grid tr td {
	border: 1px solid black;
	background-color: white;
	color: #000;
	padding-left: 15px;
	padding-right: 15px;
}
.grid tr:first-child td, .grid tr td:first-child {
	background-color: transparent;
	color: #888;
	border-left: none;
	border-top: none;
}
.grid tr:first-child td {
	border-right: none;
}
.grid tr td:first-child {
	border-bottom: none;
}
.borderless tr td {
	border-bottom: none;
}
</style>

_Ah, dammit. I like to make crosswords in the getaway vehicle because it gets pretty boring, but this time I dropped my clues while I was in the middle of making it and the words went all over the place. Well, that's a first. Can you help me put them back together?_
{: .flavor}

### Puzzle 1

<table class="grid">
<tr><td></td><td>2</td><td>2</td><td>3</td><td>3</td><td>2</td></tr>
<tr><td>3</td><td>R</td><td>A</td><td>D</td><td>O</td><td>N</td></tr>
<tr><td>2</td><td>E</td><td>D</td><td>I</td><td>T</td><td>S</td></tr>
<tr><td>3</td><td>D</td><td>A</td><td>N</td><td>T</td><td>E</td></tr>
<tr><td>3</td><td></td><td>M</td><td>E</td><td>O</td><td>W</td></tr>
<tr><td>2</td><td></td><td></td><td>R</td><td>M</td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td>A</td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td>N</td><td></td></tr>
</table>

<table class="borderless no-copy">
<tr><td>adds</td><td>dweller</td><td>late</td><td>of</td><td>sufferer</td></tr>
<tr><td>approaches</td><td>evil</td><td>markings</td><td>open</td><td>things</td></tr>
<tr><td>basement</td><td>feet</td><td>nemesis</td><td>original</td><td>tool</td></tr>
<tr><td>black</td><td>for</td><td>nice</td><td>partner</td><td>type</td></tr>
<tr><td>different</td><td>hack</td><td>notifier</td><td>round</td><td>usually</td></tr>
</table>

<div class="copy-only">
```
adds
approaches
basement
black
different
dweller
evil
feet
for
hack
late
markings
nemesis
nice
notifier
of
open
original
partner
round
sufferer
things
tool
type
usually
```
</div>

---

### Puzzle 2

<table class="grid">
<tr><td></td><td>4</td><td>3</td><td>3</td><td>2</td><td>3</td></tr>
<tr><td>2</td><td>S</td><td>P</td><td>L</td><td>A</td><td>T</td></tr>
<tr><td>2</td><td>A</td><td>L</td><td>I</td><td>B</td><td>I</td></tr>
<tr><td>2</td><td>M</td><td>A</td><td>D</td><td>A</td><td>M</td></tr>
<tr><td>3</td><td>A</td><td>Y</td><td>A</td><td>T</td><td>E</td></tr>
<tr><td>2</td><td>R</td><td>A</td><td>R</td><td>E</td><td>R</td></tr>
</table>

<table class="borderless no-copy">
<tr><td>acceptable</td><td>duplicitous</td><td>menu</td><td>sells</td><td>wet</td></tr>
<tr><td>aloe</td><td>entire</td><td>narrow</td><td>slowly</td><td>whereabouts</td></tr>
<tr><td>better</td><td>extremely</td><td>native</td><td>two</td><td></td></tr>
<tr><td>cloth</td><td>is</td><td>nightly</td><td>undone</td><td></td></tr>
<tr><td>contains</td><td>less</td><td>pig</td><td>vision</td><td></td></tr>
<tr><td>drop</td><td>meat</td><td>reduce</td><td>wear</td><td></td></tr>
</table>

<div class="copy-only">
```
acceptable
aloe
better
cloth
contains
drop
duplicitous
entire
extremely
is
less
meat
menu
narrow
native
nightly
pig
reduce
sells
slowly
two
undone
vision
wear
wet
whereabouts
```
</div>

<button class="btn clipboard-button"></button>

{% endblock %}