{% extends "puzzle.html" %}
{% block puzzle-body %}

You might call it an ecliptic crossword.
{: .flavor}

<style>
.an-eccentric-crossword-img {
    width: 600px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.an-eccentric-crossword-table {
    overflow: hidden;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.an-eccentric-crossword-table h3 {
    font-size: 2rem;
    font-weight: bold;
}
.an-eccentric-crossword-table ul li {
    margin-bottom: 16px;
}
</style>

![](/static/puzzle_resources/sample/grid.png){: .an-eccentric-crossword-img}
<br>

<div class="an-eccentric-crossword-table">
    <div class="six columns">
### Orbital

* Religious ceremony  
  &ldquo;Present!&rdquo;</br>
  Trig. function

* Self-satisfied  
  Bluefin, e.g.  
  Insatiable desire

* Speaks in a grating voice  
  A 2-2 score, say  
  One may be green, black, or pinto

* Jai _____  
  Banjo player Fleck  
  North African capital

* Smooth-talking  
  Christmas song  
  Emit coherent light

* &ldquo;Gallant&rdquo; pig  
  Fortune tellers  
  At the summit of

* Like half the planets in our solar system  
  Back part of a shoe  
  Fertile soil
    </div>
    <div class="six columns">
### Down

1. Half of a hi-hat
1. Word with pig or fowl
1. Bestows
1. Three-in-one, theologically
1. Mom&rsquo;s sister
1. Vocalist
1. Quantity in a cocktail
1. Countenance
1. Fish coating, often with beer
1. Sheepdog breed
1. Versailles sight
1. Donut shape, in mathematics
1. Soak up
1. Rubeola spot
    </div>
</div>

{% endblock %}
