html {
    --page-bg-rgb: 255, 255, 255;
    --accent-rgb: 0, 85, 170;

    --white-color: white;
    --neutral-color: #bbb;
    --accent-color: rgb(var(--accent-rgb));
    --accent-bg-color: rgba(var(--accent-rgb), 0.1);
    --accent-hover-color: #2af;

    --page-bg-color: rgb(var(--page-bg-rgb));
    --sticky-bg-color: rgba(var(--page-bg-rgb), 0.9);
    --heading-text-color: var(--accent-color);

    --border-color: var(--accent-color);
    --print-border-color: #111;

    --link-text-color: var(--accent-color);
    --link-hover-color: var(--accent-hover-color);

    --btn-text-color: var(--white-color);
    --btn-bg-color: var(--accent-color);
    --btn-hover-color: var(--accent-hover-color);

    --tray-text-color: var(--accent-color);
    --tray-bg-color: var(--neutral-color);

    --text-font: sans-serif;
    --btn-font: sans-serif;
    --input-font: monospace;
    --answer-font: monospace;
}

body {
    font-family: var(--text-font);
    font-variant-ligatures: none;
    line-height: 2.6rem;
    font-size: 1.75rem;
    overflow-wrap: break-word;
    position: relative;
}

@media print {
    nav, .shortcuts {
        display: none;
    }
}

@media screen {
    body {
        margin: 0 auto 60px;
        width: 80%;
        width: 80vw;
        max-width: 960px;
    }
}

p {
    margin-bottom: 2rem;
}

li {
    list-style-position: outside;
    margin-left: 1.5em;
}

ul > li {
    list-style-type: "\2013  ";
}

textarea {
    width: 100%;
    min-height: 24ch;
    font-family: var(--input-font);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1, h2 {
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    font-size: 4rem;
    line-height: 1.2;
}

main {
    position: relative;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table.very-small {
    font-size: 80%;
}

table.very-small td, table.very-small th {
    padding: 0.4em;
    line-height: 1.4;
}

code {
    font-size: 80%;
    max-width: 1000px;
    overflow: scroll;
}

tr:last-child td {
    border-bottom: none;
}

a, .btn {
    color: var(--link-text-color);
}

.btn, .shortcuts .btn {
    display: inline-block;
    text-decoration: none;
    font-weight: normal;
    border-radius: 0;
    border: none;
    font-family: var(--btn-font);
    text-transform: uppercase;
    letter-spacing: 0;

    padding: 0 16px;
    height: 32px;
    line-height: 32px;
    font-size: 2rem;
}

form .btn {
    padding: 0 24px;
    height: 48px;
    line-height: 48px;
    font-size: 3rem;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    border-radius: 0;
    margin: 0.5rem 0;
    font-family: var(--input-font);
}

figcaption {
    text-align: center;
}

/* See https://webaim.org/techniques/skipnav/ */
a.skip-to-main {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

a.skip-to-main:focus, a.skip-to-main:active {
    color: #fff;
    background-color: #000;
    opacity: 0.8;
    left: auto;
    top: auto;
    width: 70%;
    height: auto;
    overflow: auto;
    margin: 10px 15%;
    padding: 5px;
    border-radius: 15px;
    text-align:center;
    z-index: 999;
}

a.main-content-anchor {
    /* For some reason, display: block, visibility: hidden is needed. */
    display: block;
    visibility: hidden;
    position: relative;
    top: 4rem; /* .top-right-actions margin-bottom + h1 margin-top */
}

@media print {
    main {
        border-top: 1px solid var(--print-border-color);
    }

    .btn {
        border: 1px solid currentColor;
    }
}

@media screen {
    html {
        background-color: var(--page-bg-color);
    }

    main {
        display: table;
        min-width: 100%;
        box-sizing: border-box;
    }

    h1, h2, h3, h4 {
        color: var(--heading-text-color);
    }

    h1, h2 {
        background-color: var(--accent-bg-color);
        border-left: 3rem solid var(--border-color);
        padding: 2rem;
    }

    h3, h4 {
        border-bottom: 2px solid var(--border-color);
        font-weight: normal;
    }

    a {
        transition: color 0.3s;
    }

    a:hover,
    a:focus {
        color: var(--link-hover-color);
    }

    .puzzle-main {
        background-color: var(--white-color);
        padding: 20px 30px;
    }

    .puzzle-main h1, .puzzle-main h2, .puzzle-main h3, .puzzle-main h4 {
        color: initial;
        background: none;
        border-left: none;
        padding: 0;
    }

    .btn {
        transition: background-color 0.3s;
        color: var(--btn-text-color);
        background-color: var(--btn-bg-color);
    }

    .btn:hover,
    .btn:focus {
        color: var(--btn-text-color);
        background-color: var(--btn-hover-color);
    }

    .btn.danger {
        filter: hue-rotate(180deg);
    }

    .btn:disabled, .btn:disabled:hover, .btn.btn-disabled {
        background-color: var(--btn-bg-color);
        filter: grayscale(1);
        cursor: not-allowed;
    }

    nav {
        overflow: hidden;
    }

    .top-tabs {
        display: flex;
        white-space: nowrap;
        justify-content: space-evenly;
        font-size: 2rem;
        margin: 5px 0 1.5rem;
        line-height: 1;
    }

    .top-tabs a {
        display: inline-flex;
        position: relative;
        padding: 6px 0 10px;
        text-decoration: none;
        align-items: center;
    }

    .top-tabs .selected-tab {
        font-weight: bold;
    }

    .top-left-actions {
        float: left;
    }

    .top-right-actions {
        float: right;
        min-height: 32px;
        margin-bottom: 1.5rem;
    }

    .top-left-actions, .top-right-actions {
        line-height: 32px;
        word-spacing: 8px;
    }

    .top-left-actions > *, .top-right-actions > * {
        word-spacing: initial;
    }

    .current-stat {
        white-space: nowrap;
        display: inline-block;
        text-decoration: none;
        vertical-align: bottom;
    }

    .current-stat-label {
        font-size: 2.4rem;
        vertical-align: bottom;
    }

    .shortcuts {
        border: 2px solid var(--tray-bg-color);
        background-color: white;
        position: absolute;
        padding: 1rem 1rem 0;
        right: 60px;
        z-index: 800;
        display: none;
    }

    .shortcuts form {
        margin: 0;
    }

    .shortcuts p {
        width: 25rem;
        font-size: 1.5rem;
        line-height: 1.75rem;
        margin: 0 0 1rem;
    }

    .shortcuts .btn {
        margin-bottom: 1rem;
    }

    button#toggle-shortcuts {
        /* Make the button look like text. */
        padding: 0px;
        margin: 0px;
        height: auto;
        border: none;
        color: #222;
        text-transform: none;
        font-size: 17.5px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0px;
        overflow-wrap: break-word;
    }

    button#toggle-shortcuts:focus {
        outline: 5px auto Highlight;
        outline: 5px auto -webkit-focus-ring-color;
    }
}

@media screen and (max-width: 960px) {
    html {
        font-size: calc((960px - 100vw) / 80 + 10px);
    }

    body {
        width: calc(480px + 30vw);
    }

    .tray {
        display: flex;
        justify-content: space-between;
        position: fixed;
        margin: auto;
        left: 0;
        right: 0;
        transform: translateY(calc(5px - 100%));
        transition: transform .1s;
        z-index: 900;
        padding: 2rem calc(150vw - 1160px) 1rem;
    }

    .tray:before {
        content: "";
        text-align: center;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: -100vh;
        bottom: 0;
        padding-top: 90vh;
        background-color: var(--tray-bg-color);
        color: var(--tray-text-color);
    }

    .tray:after {
        content: "\2630";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin-top: -10px;
        padding-top: 10px;
        height: 64px;
        cursor: grab;
        color: var(--tray-text-color);
        text-align: center;
        font-size: 32px;
        line-height: 40px;
        background-image: linear-gradient(var(--tray-bg-color), var(--tray-bg-color));
        background-size: 100% 48px;
        background-repeat: no-repeat;
        background-origin: content-box;
    }

    .tray div {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;
        z-index: 0;
    }

    .top-tabs {
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0;
        font-size: calc((960px - 100vw) / 16 + 20px);
    }

    .top-left-actions {
        align-items: flex-end;
    }

    .top-left-actions a {
        line-height: 2;
        height: auto;
        font-size: calc((960px - 100vw) * 3 / 80 + 18px);
        margin-bottom: calc((960px - 100vw) * 3 / 40 + 12px);
    }

    .top-right-actions {
        float: none;
        text-align: center;
        padding-top: 64px;
    }

    .flavor {
        margin-left: calc(100vw - 800px);
        margin-right: calc(100vw - 800px);
    }

    a.main-content-anchor {
        top: calc(4rem - 64px); /* .top-right-actions margin-bottom + h1 margin-top - .tray:after height */
    }
}

@media screen and (max-width: 960px) and (any-hover: hover) {
    .tray:not(:hover) {
        transform: translateY(-100%);
    }

    .tray:focus-within {
        transform: none;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 12px;
    }

    body {
        width: 90vw;
    }

    .tray {
        padding: 2rem calc((100% - 90vw) / 2) 1rem;
    }

    .top-tabs {
        font-size: 30px;
    }

    .top-left-actions a {
        font-size: 24px;
        margin-bottom: 24px;
    }

    .flavor {
        margin-left: 0;
        margin-right: 0;
    }
}

.hunt-icon {
    vertical-align: bottom;
}

.btn .hunt-icon {
    vertical-align: -5px;
}

.list-table {
    min-width: 100%;
    max-width: 100%;
    table-layout: fixed;
}

.list-table td, .list-table th {
    padding: 4px 8px;
}

.list-table td:first-child, .list-table th:first-child {
    padding-left: 0;
}

.list-table td {
    word-break: break-word;
    overflow-wrap: anywhere;
    border-color: var(--border-color);
}

@media screen {
    .list-table th {
        border: none;
        position: sticky;
        top: 0;
        background-color: var(--sticky-bg-color);
        box-shadow: inset 0 -2px 0 0 var(--border-color);
    }
}

@media screen and (max-width: 960px) {
    .list-table th {
        top: 4rem;
    }
}

.form-section {
    margin: 4rem 0;
}

.form-row, .note {
    background-color: var(--accent-bg-color);
    border-left: 2px solid var(--border-color);
    padding: 1rem 2rem;
    margin: 1rem 0 1rem;
    position: relative;
}

.form-desc label {
    display: inline;
}

.form-row .delete-row {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2.4rem;
    text-decoration: none;
}

.dynamic-form:only-of-type .delete-row {
    display: none;
}

.info-row {
    margin-bottom: 2.4rem;
}

.info-desc p:last-child {
    margin-bottom: 0;
}

@media screen {
    .info-row > div {
        border: 2px solid var(--border-color);
    }

    .info-row h4 {
        margin: 0;
        background-color: var(--border-color);
        color: var(--btn-text-color);
        padding-left: 2rem;
        border: none;
    }

    .info-desc {
        font-size: 2rem;
        padding: 1rem 2rem;
    }
}

@media print, (min-width: 961px) {
    .info-row {
        display: flex;
        gap: 4%;
    }

    .info-row > div {
        flex-grow: 1;
        flex-basis: 0;
    }
}

.no-break {
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid;                /* IE 11 */
    display: table;                     /* Actually FF 20+ */
    width: 100%;
}

.submitted-text {
    margin: 0;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: anywhere;
}

@media print {
    .story-chunk {
        border-bottom: 1px solid var(--print-border-color);
    }
}

@media screen {
    .story-chunk {
        max-width: 600px;
        margin: 0 auto 3rem;
    }

    .story-chunk a {
        text-decoration: none;
    }
}

.flavor {
    margin-left: 22.5%;
    margin-right: 22.5%;
    text-align: center;
    font-style: italic;
}

.errorlist {
    padding: 1rem;
    border: 3px solid currentColor;
    list-style-type: none;
    color: #b21;
    background-color: var(--white-color);
}

.errorlist li {
    margin-bottom: 0;
    list-style-type: none;
    text-indent: 0;
    padding-left: 0;
}

.solved-title-marker {
    font-size: 50%;
    color: initial;
}

.solved-title-answer {
    color: #4a2;
    font-family: var(--answer-font);
}

.stat-entry {
    font-weight: bold;
}

.stat-value {
    font-weight: normal;
}

.current-team {
    font-weight: bold;
}

.meta-stats {
    font-style: italic;
}

.puzzle-erratum {
    color: #c32;
    margin-bottom: 1rem;
}

.hint-table {
    width: 100%;
}

.hint-table th, .hint-table td {
    border: none;
    padding: 0 15px;
}

.hint-table tr:first-child th, .hint-table tr:first-child td, .hint-table td[colspan] {
    padding-top: 12px;
}

.hint-table tr:last-child th, .hint-table tr:last-child td {
    padding-bottom: 12px;
}

.hint-table button {
    margin: 0;
}

.hint-table hr {
    border-color: currentColor;
    opacity: 0.25;
}

.hint-table .submitted-text, .hint-table textarea {
    font-size: 1.5rem;
    line-height: 2rem;
}

.hint-controls {
    margin-bottom: 2rem;
}

.hint-controls > :last-child {
    float: right;
}

.hint-controls form, .hint-controls input {
    margin: 0;
}

.puzzles-list {
    font-size: 2.4rem;
    width: 100%;
}

.puzzles-list a {
    text-decoration: none;
}

.puzzles-list h1 {
    text-align: left;
    margin: 0;
}

.puzzles-list th {
    border: none;
}

.puzzles-list tbody:not(:first-child) th {
    padding-top: 2em;
}

.puzzles-list td {
    border: none;
    padding-left: 0;
    padding-right: 0.5ch;
    vertical-align: top;
    word-break: break-word;
    overflow-wrap: anywhere;
}

.puzzles-list td:first-child {
    width: 3rem;
    text-align: right;
    font-weight: bold;
}

.puzzles-list td:nth-child(3) {
    width: 0;
    white-space: nowrap;
}

.puzzles-list td:last-child {
    padding-right: 0;
}

.puzzles-answer {
    width: 20ch;
    max-width: 30vw;
}

.puzzles-answer > :first-child {
    border-bottom: 2px solid var(--border-color);
    font-family: var(--answer-font);
    font-weight: bold;
}

.puzzles-new {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0 0.5rem;
    vertical-align: top;
    font-family: var(--btn-font);
    text-transform: uppercase;
}

@media screen {
    .puzzles-new {
        color: var(--btn-text-color);
        background-color: var(--btn-bg-color);
        transition: background-color 0.3s;
    }

    .puzzles-new:hover, a:hover .puzzles-new {
        color: var(--btn-text-color);
        background-color: var(--btn-hover-color);
    }
}

.puzzles-inner {
    font-size: 1.8rem;
}

.puzzles-inner b {
    font-size: 2.0rem;
}

@media screen {
    .spoiler.solved-title-answer {
        display: inline-block;
        min-width: 200px;
        text-align: left;
    }

    .spoiler:not(:hover) {
        background-color: currentColor;
        color: inherit;
    }
}

.copy-only {
    display: none;
}

.clipboard-button {
    border-radius: 1em;
    bottom: 1.5em;
    cursor: pointer;
    font-size: 1em;
    height: 2em;
    padding: 0 0.8em;
    position: fixed !important;
    right: 1.5em;
}

@media print {
    .clipboard-button {
        display: none;
    }
}

@media screen {
    time[title] {
        text-decoration: underline dotted;
        text-underline-position: under;
        cursor: help;
    }
}

.chart {
    width: 100%;
    transform: scaleY(-1);
    margin-bottom: 2.4rem;
    position: relative;
    display: block;
    z-index: -1;
}

.chart-area {
    fill: var(--neutral-color);
    opacity: 0.5;
}

.chart-line {
    stroke: var(--accent-color);
    stroke-width: 0.25%;
    fill: none;
}

@media print {
    .chart {
        display: none;
    }
}

footer {
    text-align: center;
    opacity: 0.5;
    font-size: 80%;
}

@media print {
    footer {
        display: none;
    }
}
