{% extends "solution.html" %}

{% block puzzle-author %}
Galactic Trendsetters
{% endblock %}

{% block solution-body-md %}
Each clue has two answers, except for the fifth one:

Clue: | Answers:
----- | --------
1. To write this letter in Morse code, you need exactly one of both kinds of symbol used to write letters in Morse code. | A, N
2. If you were in New Mexico, you might enter Texas by moving in this compass direction. | E, S
3. In the International Code of Signals, this letter's flag contains at least one warm color and at least one color region that doesn't touch the flag's edge. | I, W
4. You can type this letter on a phone keypad by pressing a number with four positive factors once. | M, T
5. The blood type represented by this letter is the universal donor, at least in terms of the two most important and earliest-discovered antigens. | O
6. On a QWERTY keyboard, this letter's key and the B key are horizontal neighbors (i.e. adjacent and on the same row). | N, V

Reading downwards, you can spell either ASIMOV and NEWTON. The commonality is that they were both famous people called ISAAC. The answer is ISAAC.
{% endblock %}
