{% extends "solution.html" %}

{% block puzzle-author %}
Galactic Trendsetters
{% endblock %}

{% block solution-body-md %}
These are all winning words from the Scripps spelling bee missing a letter. (As confirmation, the words are already ordered by year.) Read the missing letters, which spell COMPETITION NAME. The answer is SCRIPPS.

- C CRUSTACEOLOGY
- O CONDOMINIUM
- M EUDAEMONIC
- P SYCOPHANT
- E ECZEMA
- T INTERLOCUTORY
- I CROISSANT
- T HYDROPHYTE
- I INCISOR
- O NARCOLEPSY
- N DEIFICATION
- N POCOCURANTE
- A APPOGGIATURA
- M STROMUHR
- E GESELLSCHAFT
{% endblock %}
