{% extends "solution.html" %}

{% block puzzle-author %}
Galactic Trendsetters
{% endblock %}

{% block solution-body-html %}
<style>
.crossword {
	margin: 0 auto;
	text-align: center;
}
.crossword td, .crossword tr:last-child td {
	border: 1px solid black;
	padding: 0.25em 0.5em;
}
</style>

Solve the diagramless. It’s just a 4x4 grid.

<table class="crossword">
<tr><td>B</td><td>L</td><td>U</td><td>E</td></tr>
<tr><td>E</td><td>A</td><td>S</td><td>Y</td></tr>
<tr><td>E</td><td>L</td><td>S</td><td>E</td></tr>
<tr><td>P</td><td>A</td><td>R</td><td>S</td></tr>
</table>

The diagonal says the answer, BASS.
{% endblock %}
