{% extends "solution.html" %}

{% block puzzle-author %}
Galactic Trendsetters
{% endblock %}

{% block solution-body %}
Each answer has a double letter[^1]. Each answer also has a distinct length from 4 to 9. Sort by the length and read the double letters. They say SAMPLE.

[^1]: Two consecutive letters that are the same.

*[SAMPLE]: sample puzzle
{% endblock %}

{% block author-notes %}
hi
{% endblock %}

{% block appendix %}
Length | Answer        | Double Letter
------ | ------------- | -------------
4      | BA**SS**      | S
5      | IS**AA**C     | A
6      | HA**MM**ER    | M
7      | SCRI**PP**S   | P
8      | PARA**LL**EL  | L
9      | ENGIN**EE**RS | E
{% endblock %}
